@{
  Layout = "_Layout";
}

@using AirPet.Models
@model AirPet.Models.Profile

<div class="container-fluid">
  <h1>My Profile</h1>
  <div class="row">
    <div class="col-sm-3">
      <img style="border-radius: 100%" src="~/img/me.jpeg">
      <br><br>
      <ul class="list-group">
        <li style="background-color: black;  color: white" class="list-group-item"><strong>Info</strong></li>
        <li class="list-group-item"><strong>Location: </strong>@Html.DisplayFor(model => model.Location)</li>
        <li class="list-group-item"><strong>Pets: </strong>@Html.DisplayFor(model => model.Pets)</li>
      </ul>
    </div>
    <div style="justify-content: center" class="col-sm-9">
    <div class= "row">
      <div  class="panel">
        <div style="background-color: black; color: white" class="panel-heading"><strong>About Me</strong></div>
        <div class="panel-body">@Html.DisplayFor(model => model.Bio)</div>
        </div>
      </div>
    </div> 
    <div class="row">
      <div class="col-md-4">
        <img  class="img-responsive" style="border-radius: 100%" src= "~/img/cat1.jpg">
        <h2>Monty</h2>
      </div>
      <div class="col-md-4">
        <img  class="img-responsive" style="border-radius: 100%" src="~/img/cat2.jpg">
        <h2>Garth</h2>
      </div>
      <div class="col-md-4">
        
        <img  class="img-responsive" style="border-radius: 100%" src="~/img/cat3.jpg">
        <h2>Mr. Watermelon</h2>
      </div>
    </div>
  </div>
      <p>@Html.ActionLink("Edit Profile","Edit", new { id = Model.ProfileId })</p>
    </div>
</div>
@* <h2>@Html.DisplayFor(model => model.FirstName)</h2>
<h2>@Html.DisplayFor(model => model.Location)</h2>
<h2>@Html.DisplayFor(model => model.Pets)</h2>
<h2>@Html.DisplayFor(model => model.Bio)</h2 *@