@{
  Layout = "_Layout";
}

@using AirPet.Models
@model AirPet.Models.Profile

<h1>My Profile</h1>
<div class="row">
  <div class="col-sm-4">
    <ul class="list-group">
      <li class="list-group-item">@Html.DisplayFor(model => model.FirstName)</li>
      <li class="list-group-item">@Html.DisplayFor(model => model.Location)</li>
      <li class="list-group-item">@Html.DisplayFor(model => model.Pets)</li>
    </ul>
  </div>
  <div class="col-sm-8">
    <h2>@Html.DisplayFor(model => model.Bio)</h2>
  </div>
</div>
@* <h2>@Html.DisplayFor(model => model.FirstName)</h2>
<h2>@Html.DisplayFor(model => model.Location)</h2>
<h2>@Html.DisplayFor(model => model.Pets)</h2>
<h2>@Html.DisplayFor(model => model.Bio)</h2 *@